html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    line-height: 1.5;
    color: #888;
    text-align: left;
    background-color: #fff;
}
body{background: #eee url(http://subtlepatterns.com/patterns/sativa.png);}

.bg-primary {
    background-color: #78C2AD !important;
}
.bs-docs-section {
    margin-top: 4em;
}
.bs-docs-section .page-header h1 {
    padding: 2rem 0;
    font-size: 3rem;
}

.table .thead-dark th {
    background-color: #78C2AD;
    border-color: rgba(0, 0, 0, 0.05);
    font-family: "Montserrat", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.table.output-table .thead-dark th {
    background-color: #78C2AD;
    border-color: rgba(0, 0, 0, 0.05);
    font-family: "Montserrat", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.table .thead-dark th {
    color: #fff;
    background-color: #212529;
    border-color: #32383e;
}
.table-bordered thead th, .table-bordered thead td {
    border-bottom-width: 2px;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
}
.table-bordered th, .table-bordered td {
    border: 1px solid rgba(0, 0, 0, 0.05);
}
.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}
th {
    text-align: inherit;
}
.table-head-merge:nth-child(6),.table-head-merge:nth-child(4),.table-head-merge:nth-child(5) {
    background-color: #fcf8e3 !important;
}

.table-row-merge:nth-of-type(6),.table-row-merge:nth-child(4),.table-row-merge:nth-child(5){
    background-color: #f2dede !important;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}
.table-bordered th, .table-bordered td {
    border: 1px solid rgba(0, 0, 0, 0.05);
}
.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.table-info, .table-info > th, .table-info > td {
    background-color: #6CC3D5;
}
.table-success, .table-info, .table-warning, .table-danger {
    color: #fff;
}

.table-info, .table-info > th, .table-info > td {
    background-color: #6CC3D5;
}
.table-success, .table-success > th, .table-success > td {
    background-color: #56CC9D;
}
.table-danger, .table-danger > th, .table-danger > td {
    background-color: #FF7851;
}
.table-warning, .table-warning > th, .table-warning > td {
    background-color: #FFCE67;
}
.table-active, .table-active > th, .table-active > td {
    background-color: rgba(0, 0, 0, 0.075);
}

legend {
    font-family: "Montserrat", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}
.float-lg-right {
    float: right !important;
}


@media (min-width: 992px){
.float-lg-right {
    float: right !important;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}}
